@import "tailwindcss";

@theme {
    --color-dark-bg: #0f1523;
    --color-grid-line: #1e293b;
}

body {
    background-color: var(--color-dark-bg);

    background-image:
        linear-gradient(
            to right,
            rgba(255, 255, 255, 0.03) 0.5px,
            transparent 0.5px
        ),
        linear-gradient(
            to bottom,
            rgba(255, 255, 255, 0.03) 0.5px,
            transparent 0.5px
        );

    background-size: 40px 40px;
}

:root {
    --background: #ffffff;
    --foreground: #171717;
}
